<h1>Infinite Blocks</h1>

<ul class="setting-menu">
    <li>
        <%= link_to("総合ランキング", "/") %>
    </li>
    <li>
        <%= link_to("年間ランキング", "/") %>
    </li>
    <li>
        <%= link_to("月間ランキング", "/") %>
    </li>
    <li>
        <%= link_to("週間ランキング", "/") %>
    </li>
</ul>
<div class="games-records">
    <h3>総合ランキング</h3>
    <div class="infinite-blocks-records">
        <div class="column-names">
            <div class="rank">Rank</div>
            <div class="user">User</div>
            <div class="score">Score</div>
            <div class="level">Level</div>
            <div class="date">Date</div>
        </div>
        <% @whole_records.each.with_index(1) do |record, rank| %>
        <div class="<%= record_get_rank(rank) %>">
            <div class="rank"><%= rank %></div>
            <div class="userimage"><%= link_to("/profiles/#{record.user.id}") do %><%= image_tag(record.user.image_name.url) %><% end %></div>
            <div class="username"><%= link_to(record.user.name, "/profiles/#{record.user.id}") %></div>
            <div class="score"><%= record.score %></div>
            <div class="level"><%= record.level%></div>
            <div class="date"><%= record.created_at.strftime("%Y/%m/%d") %></div>
        </div>
        <% end %>
    </div>
</div>
