<h1>アカウント設定</h1>
<ul class="setting-menu">
    <li>
        <%= link_to("プロフィール設定", "/settings/profile") %>
    </li>
    <li>
        <%= link_to("パスワード設定", "/settings/password") %>
    </li>
    <li>
        <%= link_to("メールアドレス設定", "/settings/email") %>
    </li>
    <li>
        <%= link_to("SNS設定", "/settings/social") %>
    </li>
    <li>
        <%= link_to("レコード設定", "/settings/records") %>
    </li>
</ul>

<% if @current_user.email %>
<%= form_tag("/login", class: "form-beta") do %>
<h3>メールアドレス設定</h3>
<h5>現在のメールアドレス</h5>
<input type="email" name="current-email">
<h5 style="margin-top:20px">新しいメールアドレス</h5>
<input type="email" name="new-email">
<input type="submit" value="更新" style="margin-top:40px">
<% end %>
<% else %>
<%= form_tag("/login", class: "form-beta") do %>
<h3>メールアドレス設定</h3>
<div class="email-notice">このアカウントにはメールアドレスが登録されていません</div>
<div class="email-notice-description">メールアドレスおよびパスワードの登録を行ってください。<br>また登録後、メールアドレスでのログインおよびSNSとの連携解除ができるようになります。</div>
<hr style="margin-top:20px">
<h5 style="margin-top:20px">メールアドレス</h5>
<input type="email" name="email">
<h5 style="margin-top:20px">パスワード（8字以上、32字以下）</h5>
<input type="password" name="password">
<h5 style="margin-top:20px">パスワード（再入力）</h5>
<input type="password" name="password_comfirmation">
<input type="submit" value="登録" style="margin-top:40px">
<% end %>
<% end %>
