<%= render :partial => "setting_menu" %>

<%= form_tag("/settings/profile", class:"form-beta", multipart: true) do %>
<h3>プロフィール設定</h3>

<h5>ユーザー画像</h5>
<div class="setting-image">
    <div class="notice">
        <h6>
            使用可能ファイル
        </h6>
        <p>
            2MB以内のgif、png、jpgファイル（推奨サイズ：400x400）
        </p>
    </div>
    <%= image_tag(@current_user.image_name.url,id:"js-setting-image-image") %>
    <input type="file" name="image" id="js-setting-image-file">
    <input type="checkbox" name="is_default" id="js-setting-image-is-default">
    <div class="select-button" style="top:170px" id="js-setting-image-select">ファイルを選択</div>
    <div class="select-button" style="top:210px" id="js-setting-image-default">デフォルトに戻す</div>
    <div class="file-name" id="js-setting-image-name"></div>
    <div class="file-status status-none" id="js-setting-image-status">未選択</div>
    <%= image_tag(@current_user.image_name.url, style: "display:none", id: "js-setting-image-current-image") %>
    <%= image_tag("UserImage.png", style: "display:none", id: "js-setting-image-default-image") %>
</div>

<h5>ユーザー名（必須）</h5>
<input type="text" name="username" value="<%= flash[:username] ? flash[:username] : @current_user.name %>">
<% if flash[:username_warning] %>
<div class="confirmation-message warning"><%= flash[:username_warning] %></div>
<% end %>

<h5 style="margin-top:25px">自己紹介（300字以内）</h5>
<textarea name="introduction" style="height:300px"><%= flash[:introduction] ? flash[:introduction] : @current_user.introduction %></textarea>
<% if flash[:introduction_warning] %>
<div class="confirmation-message warning"><%= flash[:introduction_warning] %></div>
<% end %>

<h5 style="margin-top:25px">ホームページ</h5>
<input type="url" name="website" value="<%= flash[:website] ? flash[:website] : @current_user.web_site %>">
<% if flash[:website_warning] %>
<div class="confirmation-message warning"><%= flash[:website_warning] %></div>
<% end %>

<h5 style="margin-top:25px">公開設定</h5>
<ul class="published-list">
    <li>
        <div id="js-publishment-checkbox-profile" class="js-div-checkbox div-checkbox">
            非公開
        </div>
        <p>
            プロフィール
        </p>
    </li>
    <li>
        <div id="js-publishment-checkbox-introduction" class="js-div-checkbox div-checkbox checked">
            公開
        </div>
        <p>
            自己紹介
        </p>
    </li>
    <li>
        <div id="js-publishment-checkbox-url" class="js-div-checkbox div-checkbox">
            非公開
        </div>
        <p>
            ホームページ
        </p>
    </li>
    <li>
        <div id="js-publishment-checkbox-twitter_url" class="js-div-checkbox div-checkbox">
            非公開
        </div>
        <p>
            Twitterアカウント
        </p>
    </li>
    <li>
        <div id="js-publishment-checkbox-records" class="js-div-checkbox div-checkbox">
            非公開
        </div>
        <p>
            ランキング
        </p>
    </li>
</ul>
<input id="js-publishment-checkbox-profile-checkbox" type="checkbox" name="is_published_profile">
<input id="js-publishment-checkbox-introduction-checkbox" type="checkbox" name="is_published_introduction">
<input id="js-publishment-checkbox-url-checkbox" type="checkbox" name="is_published_url">
<input id="js-publishment-checkbox-twitter-url-checkbox" type="checkbox" name="is_published_twitter_url">
<input id="js-publishment-checkbox-records-checkbox" type="checkbox" name="is_published_records">

<input type="submit" value="更新" style="margin-top:60px">
<% end %>


<!--
デフォルトに戻すのボタンをクリックした時「＜デフォルトに戻す＞」を表示し
ファイル選択及び「デフォルトに戻すのボタン」を押した時に「未選択」に変更する
ファイル名が「＜デフォルトに戻す＞」になったとき、Rubyにて画像を変更する
-->
