<%= render :partial => "setting_menu" %>

<div class="form-beta">
  <h3>レコード設定</h3>
  <h4>ブラウザゲーム</h4>
  <h5>Infinite Blocks</h5>
  <table>
    <tbody>
      <tr>
        <td>
          <%= link_to("総合ランキング" , "/") %>
        </td>
        <td>
          ：
        </td>
        <td>
          12位
        </td>
        <td>
          100000pts
        </td>
        <td>
          Lv 24
        </td>
        <td>
          2019年12月14日
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to("年間ランキング" , "/") %>
        </td>
        <td>
          ：
        </td>
        <td>
          12位
        </td>
        <td>
          100000pts
        </td>
        <td>
          Lv 24
        </td>
        <td>
          2019年12月14日
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to("月間ランキング" , "/") %>
        </td>
        <td>
          ：
        </td>
        <td>
          12位
        </td>
        <td>
          100000pts
        </td>
        <td>
          Lv 24
        </td>
        <td>
          2019年12月14日
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to("週間ランキング" , "/") %>
        </td>
        <td>
          ：
        </td>
        <td>
          12位
        </td>
        <td>
          100000pts
        </td>
        <td>
          Lv 24
        </td>
        <td>
          2019年12月14日
        </td>
      </tr>
    </tbody>
  </table>
</div>
