<h1>アカウント設定</h1>
<ul class="setting-menu">
    <li>
        <%= link_to("プロフィール設定", "/settings/profile") %>
    </li>
    <li>
        <%= link_to("パスワード設定", "/settings/password") %>
    </li>
    <li>
        <%= link_to("メールアドレス設定", "/settings/email") %>
    </li>
    <li>
        <%= link_to("SNS設定", "/settings/social") %>
    </li>
    <li>
        <%= link_to("レコード設定", "/settings/records") %>
    </li>
</ul>
<div class="form-beta">
    <h3>レコード設定</h3>
    <h4>ブラウザゲーム</h4>
    <h5>Infinite Blocks</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <%= link_to("総合ランキング" , "/") %>
                </td>
                <td>
                    ：
                </td>
                <td>
                    12位
                </td>
                <td>
                    100000pts
                </td>
                <td>
                    Lv 24
                </td>
                <td>
                    2019年12月14日
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to("年間ランキング" , "/") %>
                </td>
                <td>
                    ：
                </td>
                <td>
                    12位
                </td>
                <td>
                    100000pts
                </td>
                <td>
                    Lv 24
                </td>
                <td>
                    2019年12月14日
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to("月間ランキング" , "/") %>
                </td>
                <td>
                    ：
                </td>
                <td>
                    12位
                </td>
                <td>
                    100000pts
                </td>
                <td>
                    Lv 24
                </td>
                <td>
                    2019年12月14日
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to("週間ランキング" , "/") %>
                </td>
                <td>
                    ：
                </td>
                <td>
                    12位
                </td>
                <td>
                    100000pts
                </td>
                <td>
                    Lv 24
                </td>
                <td>
                    2019年12月14日
                </td>
            </tr>
        </tbody>
    </table>
</div>
