<h1>プロフィール</h1>
<div class="profile-box">
    <%= image_tag(@user.image_name.url, class: "user-image") %>
    <div class="username"><%= @user.name %></div>
    <hr>
    <div class="introduction"><%= @user.introduction %></div>
    <hr>
    <div class="urls">
        <h5><i class="fas fa-home"></i> ホームページ</h5>
        <% if @user.web_site %>
        <a href="<%= @user.web_site %>" target="_blank"><%= @user.web_site %></a>
        <% else %>
        <div>未設定</div>
        <% end %>

        <h5 style="margin-top:30px"><i class="fab fa-twitter"></i> Twitterアカウント</h5>
        <% if @user.twitter_url %>
        <a href="<%= @user.twitter_url %>" target="_blank"><%= @user.twitter_url %></a>
        <% else %>
        <div>未設定</div>
        <% end %>

    </div>
    <hr>
    <div class="whole-records">
        <h4>ブラウザゲームの記録</h4>
        <div class="records">
            <h6>Infinite Blocks</h6>
        </div>
        <h4>モバイルゲームの記録</h4>
        <div class="preparation">準備中</div>
    </div>
</div>
